<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beer Keeper</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/data_table.min.css">
</head>

<body>
    <div class="nav container align-middle">
        <div class="row">
            <ul class="nav">
                <li class="nav-item <%= navClasses['cas']%>">
                    <a class="nav-link >" href="/">Касир</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <%=navClasses['storage']%>" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Склад
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/days">Денні звіти</a>
                        <a class="dropdown-item" href="/balance">Баланс товару</a>
                        <a class="dropdown-item" href="/create_product">Додати новий продукт</a>
                        <a class="dropdown-item" href="/create_category">Створити категорію</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <%- messages('messages', locals) %>

                <% if (errors) {%>
                    <% errors.forEach(function(error) { %>
                        <div class="alert alert-danger">
                            <%= error.msg %>
                        </div>
                    <% });%>
                <% }%>
            </div>
        </div>