<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beer Keeper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="nav container align-middle">
        <div class="row">
            <ul class="nav">
                <li class="nav-item <%= navClasses['cas']%>">
                    <a class="nav-link >" href="/">Касир</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <%= navClasses['storage']%>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Склад
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/checks">Чеки</a>
                        <a class="dropdown-item" href="/balance">Баланс товару</a>
                        <a class="dropdown-item" href="/create_product">Додати новий продукт</a>
                        <a class="dropdown-item" href="/create_category">Створити категорію</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
        <div class="container">
                





