<% include _layouts/header %>
<div class="row">
    <h1>
        <%= productInfo.title %>
    </h1>
</div>

<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <b>Категорія</b>
                </div>
                <span>
                    <%= productInfo.category %>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <b>Вартість</b>
                </div>
                <span>
                    <%= productInfo.price %>&nbsp;₴
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <b>Собівартість</b>
                </div>
                <span>
                    TODO
                </span>
            </li>

            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <b>Залишок</b>
                </div>
                <span>
                    <%= productInfo.quantity.toFixed(2) %>
                </span>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <ul class="trn-list">
            <li class="trn-item trn-item-top">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-top.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-down">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-bottom.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-top">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-top.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-down">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-bottom.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-down">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-bottom.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-top">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-top.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-top">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-top.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-top">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-top.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
            <li class="trn-item trn-item-down">
                <div class="trn-item-price">
                    <img src="/images/svg/chevron-bottom.svg">
                    <span>50.00&nbsp;₴</span>
                </div>
                <span>12.09.2019 14:31</span>
                <span>ТОВ "Експедитор"</span>
            </li>
        </ul>
    </div>
</div>

<% include _layouts/footer %>